.header {
    background-image: url("/images/background.jpg");

    >nav {
        max-width: 1050px;
        margin: 0 auto;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        >img {
          margin-top: 10px;
        }

        .gate {
            display: inline-block;
            margin-top: 70px;
            width: 215px;
            padding: 10px 0 10px 15px;
            font-family: "Open Sans", sans;
            font-weight: 400;
            color: var(--gray-700);
            background: #efefef;
            border: 0;
            border-radius: 3px;
            outline: 0;
            text-indent: 65px; // Arbitrary.
            transition: all .3s ease-in-out;
            
            &::-webkit-input-placeholder {
              color: #efefef;
              text-indent: 0;
              font-weight: 300;
            }
          
            + label {
                margin-top: 70px;
                display: inline-block;
                position: absolute;
                margin-left: -220px;
                padding: 10px 15px;
                text-shadow: 0 1px 0 var(--gray-700);
                background: var(--gray-700);
                transition: all .4s ease-in-out;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                transform-origin: left bottom;
                z-index: 99;
              
              &:before,
              &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 3px;
                background: var(--gray-700);
                transform-origin: left bottom;
                transition: all .4s ease-in-out;
                pointer-events: none;
                z-index: -1;
              }
              &:before {
                background: rgba(3,36,41,.2);
                z-index: -2;
                right: 20%;
              }
            }
          }
          span:nth-child(2) .gate {
            text-indent: 85px;
          }
          span:nth-child(2) .gate:focus,
          span:nth-child(2) .gate:active{
            text-indent: 0;
          }
          .gate:focus,
          .gate:active {
            color: #377D6A;
            text-indent: 0;
            background: #fff;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            
            &::-webkit-input-placeholder {
              color: #aaa;
            }
            + label {
              transform: rotate(-66deg);
              border-radius: 3px;
              
              &:before {
                transform: rotate(10deg);
              }
            }
          }
    }
}