.content-container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .card-body {
        width: 100%;
        background: var(--gray-700);
        border-radius: 3rem 0.3rem 3rem 0.3rem;
        padding: 1rem;
        margin: 0;

        .card-content {
            padding: 20px 0;
            margin: 0 auto;
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            >div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 190px;
                height: 190px;
                cursor: pointer;
                >img {
                    width: 150px;
                    border-radius: 50%;
                    border: 2px solid var(--yellow-500);
                    transition: width 0.5s;
                    transition: height 0.5s;
                }
                >img:hover {
                    width: 155px;
                }
                >span {
                    padding: 10px 0;
                    text-transform: uppercase;
                }
            }
            // background: greenyellow;
            // list-style-type: none;
            // margin: 10px 0;
            
        }
        .cardContent:hover {
            width: 155px;
            height: 155px;
        }
    }

    /* quando tiver duas section */
    section + section {
        margin-left: 2rem;
    } 

    
}
