.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: var(--white);
    max-width: 90%;
    max-height: 60%;
    top:53%;
    left:50%;
    transform: translate(-50%,-50%);
    color: var(--gray-700);
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.6);;
    overflow: scroll;

    .modal-title {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        >button {
            border: none;
            background: transparent;
            >svg {
                width: 30px;
                height: 30px;
                color: var(--gray-700);
            }
        }
    }

    .modal-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10px;

        .list-starship {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 100%;
            margin: 4px;
            border-radius: 5px;
            background-color: var(--gray-700);
            color: var(--gray-200);
        }
    }
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }